<div class="container-fluid bg-light position-relative shadow">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
        <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px">
            <i class="flaticon-043-teddy-bear"></i>
            <span class="text-primary">KidCoder</span>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav font-weight-bold mx-auto py-0">
                <a class="nav-item nav-link active" routerLink="">Home</a>
                <a class="nav-item nav-link" routerLink="about">About</a>
                <a class="nav-item nav-link" routerLink="classes">Classes</a>
                <a class="nav-item nav-link" routerLink="teachers">Teachers</a>
                <a class="nav-item nav-link" routerLink="gallery">Gallery</a>
                <div class="nav-item dropdown" *ngIf="isadmin">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Administrator</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a routerLink="admin/teachers" class="dropdown-item">Teachers</a>
                        <a routerLink="admin/courses" class="dropdown-item">Courses</a>
                        <a routerLink="admin/gallery" class="dropdown-item">Gallery</a>
                        <a (click)="logout()" class="dropdown-item">Logout</a>
                    </div>
                </div>
                <a class="nav-item nav-link" routerLink="contact">Contact</a>
            </div>
            <a href="" class="btn btn-primary px-4">Join Class</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->