<div class="container mt-5">
    <h2>Courses ({{ courses.length }})</h2>
    <a routerLink="../course/0" class="btn btn-success pull-right float-right">Add Courses</a>
    <br><br>
    <div class="row">
        <div class="col-lg-12 table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Actions</th>
                    <th>No</th>
                    <th>Image</th>
                    <th>Courses</th>                    
                </tr>
                <tr *ngFor="let course of courses  | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  };let i = index;">
                    <td>
                        <button routerLink="../course/{{ course._id }}" class="btn btn-primary"><i class="fa fa-edit"></i></button> &nbsp;
                        <button  class="btn btn-danger" (click)="deleteCourse(course._id)"><i class="fa fa-trash"></i></button>
                    </td>
                    <td>{{ i + 1}}</td>
                    <td> <img src="{{ baseurl + course.photo }}" onerror="this.src = 'https://cdn-icons-png.flaticon.com/512/1053/1053244.png'" style="height:80px;" ></td>
                    <td>{{ course.name }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>
<pagination-controls
  class="pagi"
  (pageChange)="page = $event"
></pagination-controls>